@charset "ISO-8859-1";
legend{
	margin-left:auto;
	margin-right:auto;
	font-size: 30px;
	color: #504233;
	font-weight: bold;
	margin-top:20px;
	margin-bottom: 25px;
}

.cont-form{
    background-color: 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    border: 0;
    
}
input{
    display: block;
    width: 60%;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #E0DFDF;

}
form{
    background-color: #B3A190;
    width: 100%;
    padding: 10px;
    /*border: 2px solid #ffff;*/
}
label{
	font-weight: bold;
    color: #E0DFDF;
    display: block;
    justify-content: center;
    font-weight: 0;
    font-size: 18px;
    /*text-align: center;*/
}
[type="submit"]{
	font-weight: bold;
    border: 1px solid #E0DFDF;
    color:#E0DFDF;
    width: 150px;
    height: 33px;
    margin-top:0;
    border-radius: 5px;
}
.btn{
	display: flex;
}
[type="button"]{
	margin-top: 5px;
	font-weight: bold;
    border: 1px solid #E0DFDF;
    color:#E0DFDF;
    width: 150px;
    height: 33px;
    margin-top:0;
    border-radius: 5px;
}