@charset "ISO-8859-1";
body{
	background-color: #FFD8C3;
	font-family: "Courier New", Coureir, monospace;
}
legend{
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	color: #091053;
	font-weight: bold;
}

.l2{
	margin-bottom: 15px;
}
.cont-form{
	/*background-color: #091053;*/
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	height: 360px;
	text-align: center;
}
input{
    display: block;
    background: transparent;
    color: #091053;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    border-bottom: 1px solid darkblue;
    margin-top: 30px;
    text-align: center;
}
form{
    /*background-image: url('../imagenes/icon.png');*/
    background-color: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
label{
	color: #091053;
	font-size: 20px;
	font-weight: bold;
}
[type="submit"]{
	background-color: #A3A3A3;
	color: #091053;
	border: 1px solid darkblue;
	width: 200px;
	height: 33px;
	margin-top: 30px;
	border-radius: 5px;
}
[type="text"]{
	margin-top: 20px;
	margin-bottom: 10px;
}
[type="password"]{
	margin-top: 20px;
	margin-bottom: 10px;
}