@charset "ISO-8859-1";

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #C6C6C2;
}

legend{
	margin-left:auto;
	margin-right:auto;
	font-size: 30px;
	color: #504233;
	font-weight: bold;
}

.cont-form{
    background-color: #B3A190;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 360px;
    text-align: center;
    
    
}

input{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    color: #E0DFDF;
    border: 0;
    border-bottom: 1px solid #E0DFDF;
    margin-top: 30px;
    text-align: center;
}

.cla{
	margin-top:30px;
}

form{
    background-color: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    padding: 0px;
}

label{
    color: #E0DFDF;
    font-size: 20px;
    font-weight: bold;

}

[type="submit"]{
    border: 1px solid #E0DFDF;
    color:#E0DFDF;
    width: 200px;
    height: 33px;
    margin-top:30px;
    border-radius: 5px;
}

[type="text"]{
	margin-top:20px;
	margin-bottom: 10px;
}
[type="password"]{
	margin-top:20px;
	margin-bottom: 10px;
}
.mensaje{
	color: rgb(107, 45, 33);
	font-weight: bold;
	background-color: rgb(165, 91, 48);
	margin-top: 5px; 
}
.cont-menj{
	margin-top: 5px;
	background-color: rgb(165, 91, 48);
	color: rgb(107, 45, 33);
	width: 220px;
	margin-left: 960px;
	margin-top: 100px;
	display: flex;
	position: fixed; 
}
.ok{
	margin-top: 3px;
	background-color: rgb(165, 91, 48);
	margin-bottom: 3px;
}
.mensj{
	background-color: transparent;
}
th{
	border-right: 1px solid #091053;
	border-bottom: 1px solid #091053;
	border-radius: 5px;
	width: 55%;
	background-color: #B3A190;
}
tr{
	width: 55%;
	border-right: 1px solid #091053;
	background-color: #B3A190;
}
td{
	border-right: 1px solid #091053;
	border-bottom: 1px solid #091053;
	border-radius: 5px;
	background-color: #B3A190;
	width: 55%;
}