@charset "ISO-8859-1";
.tabla{
	margin-left: 230px;
	margin-top: 50px;
	border: 2px solid black;
	color: white;
	width: 50%;
}
th{
	border: 2px solid black;
}
td{
	border: 2px solid black;
}