@charset "ISO-8859-1";
.cont-form{
    /*background-color: 0;*/
    width: 60%;
    margin-left: 160px;
    margin-right: 160px;
    height: 450px;
    border: 0;
}
input{
    display: block;
    width: 60%;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid darkblue;

}
form{
    border: 1px solid rgb(146, 136, 133);
    width: 100%;
    margin-top: 30px;
    padding: 10px;
}
label{
    color: #091053;
    display: block;
}
[type="submit"]{
    color: #091053;
    background-color: #A3A3A3;
    border: 1px solid darkblue;
    width: 100px;
    display: inline-block;
    margin-left: 10px;
}
.btneli{
	margin-left: 10px;
	margin-top: 5px;
}
.btn{
    justify-content: space-around;
	margin-left: auto;
}