@charset "ISO-8859-1";

legend{
	margin-left:auto;
	margin-right:auto;
	font-size: 30px;
	color: #504233;
	font-weight: bold;
	margin-top:20px;
}

.cont-form{
	margin-top:20px;
    background-color: 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    border: 0;
    
}
input{
    display: block;
    width: 60%;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #E0DFDF;

}
form{
    background-color: #B3A190;
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    /*border: 2px solid #ffff;*/
}
.form{
	background-color: #B3A190;
    width: 100%;
    margin-top: 0px;
    padding: 10px;
}
label{
	font-weight: bold;
    color: #E0DFDF;
    display: block;
    justify-content: center;
    font-weight: 0;
    font-size: 18px;
    /*text-align: center;*/
}
[type="submit"]{
	font-weight: bold;
    border: 1px solid #E0DFDF;
    color:#E0DFDF;
    width: 150px;
    height: 33px;
    margin-top:0;
    border-radius: 5px;
}

.con{
	font-weight: bold;
    border: 1px solid #E0DFDF;
    color:#E0DFDF;
    width: 150px;
    height: 33px;
    margin-top:0;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}
.btn{
	display: flex;
}

.tabla{
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid #091053;
	margin-top:30px;
	margin-right: auto;
    margin-left: auto;
    height:100px;
    margin-bottom:15px;
    background-color: #B3A190;
    width: 60%;
}
th{
	border-right: 1px solid #091053;
	border-bottom: 1px solid #091053;
	border-radius: 5px;
	width: 60%;
	background-color: #B3A190;
}
tr{
	width: 60%;
	border-right: 1px solid #091053;
	background-color: #B3A190;
}
td{
	border-right: 1px solid #091053;
	border-bottom: 1px solid #091053;
	border-radius: 5px;
	background-color: #B3A190;
	width: 60%;
}