@charset "ISO-8859-1";

legend{
	margin-left:auto;
	margin-right:auto;
	font-size: 30px;
	color: #504233;
	font-weight: bold;
	margin-top:20px;
}

.cont-form{
    background-color: 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    border: 0;
    border-radius: 5px;
    
}
input{
    display: block;
    width: 60%;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    border: 0;
    border: 1px solid #E0DFDF;
    border-radius: 5px;
    font-size: 15px;

}
form{
    background-color: #B3A190;
    width: 90%;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ffff;
}
table{
	border-radius: 5px;
	border: 1px solid #E0DFDF;
	margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    width: 100%;
}
th{
	border-right: 1px solid #E0DFDF;
	border-bottom: 1px solid #E0DFDF;
	border-radius: 5px;
}
tr{
	border-right: 1px solid #E0DFDF;
}
label{
	font-weight: bold;
    color: #E0DFDF;
    display: block;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    font-weight: 0;
    font-size: 18px;
    width: 80%;
	display: flex;
}
[type="submit"]{
	font-weight: bold;
    border: 1px solid #E0DFDF;
    color:#E0DFDF;
    width: 150px;
    height: 33px;
    margin-top:12px;
    border-radius: 5px;
}
.btn{
	display: flex;
}
.btnced{
	display: block;
	margin-top: 5px;
	width: 10%; 
}
.cedcli{
	height: 20px;
	margin-right: 15px;
}
.nomprod{
	width: 90%;
}
.precprod{
	width: 90%;
}
.env{
	margin-left: 225%;
}
.cont-alert{
	margin-top: 5px;
	background-color: rgb(165, 91, 48);
	color: rgb(107, 45, 33);
	width: 190px;
	margin-left: 1090px;
	margin-top: 100px;
	display: flex;
	position: fixed; 
}
alert{
	color: rgb(107, 45, 33);
	font-weight: bold;
	background-color: rgb(165, 91, 48);
	margin-top: 5px;
}
.sin{
	margin-left: 500px;
}
.total{
	margin-left: 500px;
}
.iva{
	margin-left: 500px;
}

.cal{
	display: flex;
	position: absolute;
	margin-left: 50px;
	margin-top: -48px;
	height: 35px;
	margin-right: 50px;
}